$primary: #7957d5 !default;
$dropdown-item-active-background-color: $primary;

$tabs-toggle-link-border-width: 0;
$tabs-link-padding: 8px;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-hover-background-color: hsl(0, 0%, 98%);
