$hr-margin: 1rem;
//FIX ME
$primary: #8c67ef;
$card-content-padding: 0.7rem;

.card-bottom-left {
  position: absolute;
  bottom: 0px;
  margin-bottom: 4px;
  margin-left: 4px;
  z-index: 1;
}

.card-bottom-right {
  position: absolute;
  bottom: 0px;
  margin-bottom: 4px;
  margin-right: 4px;
  right: 0px;
  z-index: 1;
}

@import "~bulma";
@import "~buefy/src/scss/buefy";
