@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/mixins";

$border-color: rgb(149, 165, 166);

.is-bordered {
  border: 1px solid $border-color;
}

.is-bordered-bottom-accent {
  border: 1px solid $border-color;
  border-bottom: 2px solid $border-color;
}

.is-blocked {
  color: $danger;
  text-decoration: line-through;
}

.is-event {
  background-color: $white !important;
}

.has-text-weight-semibold-tablet {
  @include tablet {
    font-weight: $weight-semibold;
  }
}

.hero > .hero-body {
  @include touch {
    padding: 1rem 0.5rem;
  }
}


/* game colors */
$is-black-color: #34495e;
$is-green-color: #27ae60;;
$is-blue-color: #3498db;
$is-purple-color: #9b59b6;
$is-yellow-color: #f1c40f;
$is-orange-color: #e67e22;
$is-red-color: #e74c3c;
$is-teal-color: #1dabb8;
$is-brown-color: #651a1a;

.is-black-color {
  color: $is-black-color;
}

.is-green-color {
  color: $is-green-color;
}

.is-blue-color {
  color: $is-blue-color;
}

.is-purple-color {
  color: $is-purple-color;
}

.is-yellow-color {
  color: $is-yellow-color;
}

.is-orange-color {
  color: $is-orange-color;
}

.is-red-color {
  color: $is-red-color;
}

.is-teal-color {
  color: $is-teal-color;
}

.is-brown-color {
  color: $is-brown-color;
}


.is-black-bg-color {
  background: $is-black-color;
}

.is-green-bg-color {
  background: $is-green-color;
}

.is-blue-bg-color {
  background: $is-blue-color;
}

.is-purple-bg-color {
  background: $is-purple-color;
}

.is-yellow-bg-color {
  background: $is-yellow-color;
}

.is-orange-bg-color {
  background: $is-orange-color;
}

.is-red-bg-color {
  background: $is-red-color;
}

.is-teal-bg-color {
  background: $is-teal-color;
}

.is-brown-bg-color {
  background: $is-brown-color;
}
